body {
  background-color: black;
  color: seashell;
  opacity: 0.9;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  text-align: center;
}

/* Header */
header {
  border-bottom: 1px solid seashell;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 69px;
  background-color: black;
}
.logo {
  opacity: 0.9;
  max-height: 50px;
  width: auto;
  margin: 10px;
  text-align: left;
  float: left;
}

ul {
  list-style: none;
  text-align: right;
  display: inline;
  float: right;
  margin-right: 20px;
}

li {
  display: inline;
  text-decoration: underline;
  margin-right: 20px;
}

a {
  color: seashell;
  opacity: 0.9;
}

a:hover {
  opacity: 0.6;
}

/* Footer */
.copyright {
  margin-top: 50px;
  text-align: left;
  opacity: 0.6;
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
}
